// source: https://www.canva.com/learn/website-color-schemes/
$paleGold: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4F4;
$charcoal: #373737;

$headerBg: $paleGold;
$headerFontColor: $paper;
$sidebarBg: $paper;
$fontColor: $charcoal;

$headerHeight: 2.5rem;
$footerHeight: 0rem;

.app {
  color: $fontColor;

  .loading {
    padding: 1rem;
  }

  .no-link {
    &:link {
      text-decoration: inherit;
      color: inherit;
    }

    &:visited {
      text-decoration: inherit;
      color: inherit;
    }
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
    font-weight: normal;
  }

  .header {
    color: lighten($paper, 30%);
    background: darken($silk, 7%);
    padding: 1rem;
  }

  .list-entry {
    cursor: pointer;
    border-bottom: solid 1px lighten($fontColor, 60%);

    a {
      display: block;
      padding: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .title {
      font-size: 1.2rem;
    }

    .subtitle {
      font-size: 0.9rem;
    }
  }

  .thread-detail {

    .article-detail {
      // show \n as breaks: https://stackoverflow.com/a/44413780/2306363
      white-space: pre-line;

      .article-detail-author {
        font-size: 0.9rem;
      }

      .article-detail-content {
        padding: 1rem;
        font-size: 1.3rem;
      }
    }

    ul {
      list-style-type: none;
    }

    li {
      border-left: solid 3px darken($silk, 7%);
    }
  }

  .sidebar-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    grid-template-rows: auto;
    grid-template-areas: "sidebar content";
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});

    .sidebar-content-sidebar {
      grid-area: sidebar;
      background: $sidebarBg;
      overflow-y: auto;
    }

    .sidebar-content-content {
      grid-area: content;
    }
  }

  .group-detail {
    .group-title {
      a {
        display: block;
        padding: .4rem 1rem;
      }
    }
  }

  .app-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: $headerHeight auto $footerHeight;
    grid-template-areas: "header" "body" "footer";

    .app-grid-header {
      grid-area: header;
      font-size: 1.5rem;
      text-align: left;
      background: $headerBg;
      color: white;
      position: sticky;
      top: 0;
    }

    .app-grid-body {
      grid-area: body;
      min-width: 0;
    }

    .app-grid-footer {
      grid-area: footer;
    }
  }

  .search {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .float-div {
    margin: 0;
    padding: 0;

    .float {
      float: left;
      margin: 0.2rem 1rem 0.2rem 0.5rem;
    }
  }

}

