// source: https://www.canva.com/learn/website-color-schemes/
$paper: #F4F4F4;
$charcoal: #373737;

$headerFontColor: $paper;
$sidebarBg: $paper;
$fontColor: $charcoal;

$primaryGreen: #196A41;
$secondaryGreen: #489370;
$primaryGray: #A5A5A5;

$headerHeight: 7rem;
$footerHeight: 0rem;

.app {
  color: $fontColor;

  .icon-button {
    cursor: pointer;
  }

  .loading {
    padding: 1rem;
  }

  .no-link {
    &:link {
      text-decoration: inherit;
      color: inherit;
    }

    &:visited {
      text-decoration: inherit;
      color: inherit;
    }
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
    font-weight: normal;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: normal;
  }

  .header {
    color: lighten($paper, 30%);
    background: $secondaryGreen;
    padding: 1rem;

    a {
      &:link {
        color: inherit;
      }

      &:visited {
        color: inherit;
      }
    }
  }

  .list-entry {
    cursor: pointer;
    border-bottom: solid 1px lighten($fontColor, 60%);

    a {
      display: block;
      padding: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .title {
      font-size: 1.2rem;
    }

    .subtitle {
      font-size: 0.9rem;
    }

    .bold {
      font-weight: bold;
    }
  }

  .thread-detail {

    .article-detail {
      // show \n as breaks: https://stackoverflow.com/a/44413780/2306363
      white-space: pre-line;

      .article-detail-author {
        font-size: 0.9rem;
      }

      .article-detail-content {
        padding: 1rem;
        font-size: 1.3rem;

        .nested-content {
          margin-left: 1rem;
          border-left: solid #99A3CC 0.15rem;
          padding-left: 0.5rem;
        }
      }

      .article-button {
        margin-left: 1rem;
      }

      .header {
        display: flex;
        align-items: center;
      }
    }

    .collapsible-thread-list {
      .header {
        padding: 0.5rem;
        cursor: pointer;
      }

      .article-detail-title {
        font-size: 1.5rem;
      }

      .collapsible-line {
        position: absolute;
        width: 0.25rem;
        cursor: pointer;
        top: 0;
        bottom: 0;
        background: $secondaryGreen;
      }
    }

    li {
      position: relative;
    }

    ul {
      list-style-type: none;
      padding-left: 0.5rem;
    }
  }

  .sidebar-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    grid-template-rows: auto;
    grid-template-areas: "sidebar content";
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});

    .sidebar-content-sidebar {
      grid-area: sidebar;
      background: $sidebarBg;
      overflow-y: auto;
    }

    .sidebar-content-content {
      grid-area: content;
      overflow-y: auto;
    }
  }

  .app-grid {
    display: grid;
    grid-template-rows: $headerHeight auto $footerHeight;
    grid-template-areas: "header" "body" "footer";

    .app-grid-header {
      grid-area: header;
      position: sticky;
      top: 0;
      z-index: 10;
      color: lighten($paper, 30%);
      background: $primaryGreen;
      padding: 1rem;

      a {
        &:link {
          color: inherit;
        }

        &:visited {
          color: inherit;
        }
      }

      img {
        height: 4rem;
        margin: 0.3rem;
      }

      .float {
        float: left;
        margin: 0.2rem 1rem 0.2rem 0.5rem;
      }
    }

    .app-grid-body {
      grid-area: body;
      min-width: 0;
    }

    .app-grid-footer {
      grid-area: footer;
    }
  }

  .search {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

